<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nhận diện bệnh cây trồng</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <style>
      body {
        background-image: url({{url_for("static", filename= "background.jpg")}});
        background-size: cover;
        background-repeat: no-repeat;
      }
    </style>
  </head>
  <body>
    <div class="container mt-5">
      <div class="row">
        <!-- Bên trái: Nhận diện bệnh cây ngô -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-header bg-success text-white">
              Nhận diện bệnh cây ngô
            </div>
            <div class="card-body">
              <form
                action="/cay-ngo"
                method="post"
                enctype="multipart/form-data"
              >
                <div class="form-group">
                  <label for="cornDiseaseFile"
                    >Tải lên hình ảnh lá cây ngô:</label
                  >
                  <input
                    name="fileNgo"
                    type="file"
                    class="form-control-file"
                    id="cornDiseaseFile"
                  />
                </div>
                <button type="submit" class="btn btn-success btn-block">
                  Dự đoán cây ngô
                </button>
              </form>

              {%if data%} {% if data['type']==1 %}
              <p>{{data['result']}}</p>
              <p>{{data['chua_benh']}}</p>
              <img
              height="150"
                src="data:image/jpeg;base64,{{ data['image_path'] }}"
                alt="img_data"
                id="imgslot"
              />
              {% endif %} {% endif %}
            </div>
          </div>
        </div>

        <!-- Bên phải: Nhận diện bệnh cây đậu -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-header bg-warning text-white">
              Nhận diện bệnh cây đậu
            </div>
            <div class="card-body">
              <form
                action="/cay-dau"
                method="post"
                enctype="multipart/form-data"
              >
                <div class="form-group">
                  <label for="beanDiseaseFile"
                    >Tải lên hình ảnh lá cây đậu:</label
                  >
                  <input
                    name="fileDau"
                    type="file"
                    class="form-control-file"
                    id="beanDiseaseFile"
                  />
                </div>
                <button type="submit" class="btn btn-warning btn-block">
                  Dự đoán cây đậu
                </button>
              </form>
              {%if data%} {% if data['type']==0 %}
              <p>{{data['result']}}</p>
              <p>{{data['chua_benh']}}</p>
              <img
              height="150"
                src="data:image/jpeg;base64,{{ data['image_path'] }}"
                alt="img_data"
                id="imgslot"
              
              />
              {% endif %} {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row">
        <!-- Bên trái: Nhận diện bệnh lá cam -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-header bg-success text-white">
              Nhận diện bệnh lá cam
            </div>
            <div class="card-body">
              <form
                action="/la-cam"
                method="post"
                enctype="multipart/form-data"
              >
                <div class="form-group">
                  <label for="cornDiseaseFile"
                    >Tải lên hình ảnh lá cam:</label
                  >
                  <input
                    name="fileLaCam"
                    type="file"
                    class="form-control-file"
                    id="cornDiseaseFile"
                  />
                </div>
                <button type="submit" class="btn btn-success btn-block">
                  Dự đoán lá cam
                </button>
              </form>

              {%if data%} {% if data['type']==2 %}
              <p>{{data['result']}}</p>
              <p>{{data['chua_benh']}}</p>
              <img
              height="300"
                src="data:image/jpeg;base64,{{ data['image_path'] }}"
                alt="img_data"
                id="imgslot"
              />
              {% endif %} {% endif %}
            </div>
          </div>
        </div>

        <!-- Bên phải: Nhận diện bệnh quả cam -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-header bg-warning text-white">
              Nhận diện bệnh quả cam
            </div>
            <div class="card-body">
              <form
                action="/qua-cam"
                method="post"
                enctype="multipart/form-data"
              >
                <div class="form-group">
                  <label for="beanDiseaseFile"
                    >Tải lên hình ảnh lá quả cam:</label
                  >
                  <input
                    name="fileQuaCam"
                    type="file"
                    class="form-control-file"
                    id="beanDiseaseFile"
                  />
                </div>
                <button type="submit" class="btn btn-warning btn-block">
                  Dự đoán quả cam
                </button>
              </form>
              {%if data%} {% if data['type']==3 %}
              <p>{{data['result']}}</p>
              <p>{{data['chua_benh']}}</p>
              <img
              height="300"
                src="data:image/jpeg;base64,{{ data['image_path'] }}"
                alt="img_data"
                id="imgslot"
              
              />
              {% endif %} {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="container mt-5">
      <div class="row">
        <!-- Bên trái: Nhận diện cay quế -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-header bg-success text-white">
              Nhận diện bệnh cây quế
            </div>
            <div class="card-body">
              <form
                action="/cay-que"
                method="post"
                enctype="multipart/form-data"
              >
                <div class="form-group">
                  <label for="cornDiseaseFile"
                    >Tải lên hình ảnh cây quế:</label
                  >
                  <input
                    name="fileCayQue"
                    type="file"
                    class="form-control-file"
                    id="cornDiseaseFile"
                  />
                </div>
                <button type="submit" class="btn btn-success btn-block">
                  Dự đoán cây quế
                </button>
              </form>

              {%if data%} {% if data['type']==4 %}
              <p>{{data['result']}}</p>
              <p>{{data['chua_benh']}}</p>
              <img
              height="300"
                src="data:image/jpeg;base64,{{ data['image_path'] }}"
                alt="img_data"
                id="imgslot"
              />
              {% endif %} {% endif %}
            </div>
          </div>
        </div>
        <!-- Bên phải: Nhận diện bệnh cafe -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-header bg-warning text-white">
              Nhận diện bệnh lá cafe
            </div>
            <div class="card-body">
              <form
                action="/la-cafe"
                method="post"
                enctype="multipart/form-data"
              >
                <div class="form-group">
                  <label for="beanDiseaseFile"
                    >Tải lên hình ảnh lá cafe:</label
                  >
                  <input
                    name="fileCafe"
                    type="file"
                    class="form-control-file"
                    id="beanDiseaseFile"
                  />
                </div>
                <button type="submit" class="btn btn-warning btn-block">
                  Dự đoán lá cafe
                </button>
              </form>
              {%if data%} {% if data['type']==5 %}
              <p>{{data['result']}}</p>
              <p>{{data['chua_benh']}}</p>
              <img
              height="300"
                src="data:image/jpeg;base64,{{ data['image_path'] }}"
                alt="img_data"
                id="imgslot"
              
              />
              {% endif %} {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
</html>
